*{
    font-family: "";
    font-weight: 400;
    line-height: 125%;
    /*overflow-y: hidden; Bloqueado el scroll*/    
}
.logo{
    
    display: inline-flex; 
}
.alura{
    margin-top: 25px;
    margin-left: 150px;
    padding: 10px;
}

.pie {
    width: 1440px;
    background: #495057;
}
.imagenes{
    margin: auto;
    width: 300px;
}
.pie img{
    width: 50px;
    margin: 40px;
}
.pie p{
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 10px 0 10px;
}